/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.displayFlex {
  display: flex;
  flex-direction: row;
}

.displayColumn {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between !important;
}

.justifyCenter {
  justify-content: center !important;
}

.justifyStart {
  justify-content: flex-start !important;
}

.justifyEnd {
  justify-content: flex-end !important;
}

.gap-10 {
  gap: 10px;
}
